*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*navigation*/
.main-nav {

    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    background: linear-gradient(to bottom, #e8d28d, #eae1c5);
    border-bottom: 1px solid black;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-nav a {
    margin: 0 12px;
    padding: 8px;
    border-radius: 2px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.main-nav a:hover {
    background-color: black;
    color: #e8d28d;
}

.nav-toggler {
    display: none;
}

@media (max-width: 1024px) {
    .main-nav a {
        font-size: 14px;
        padding: 6px;
    }
}

@media (max-width: 525px) {

    .main-nav {
        display: flex;
        order: 1;
    }

    .main-nav ul {
        padding: 52px 0 20px;
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 6px 0;
    }

    .main-nav.active ul {
        display: flex;
    }

    .nav-toggler {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: baseline;
        margin-left: auto;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-toggler img {
        width: 20px;
    }
}

/*Hero*/
.hero {
    min-height: 600px;
    margin-bottom: 10px;
    padding-top: 300px;
    background-image: url("ressources/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg");
    background-size: cover;
    background-position: 70% 70%;
    text-align: center;
}

.hero img {
    width: 20px;
}

.hero-link {
    min-width: 155px;
    margin: 30px 0 0 100px;
    padding: 10px 12px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.hero-link-1 {
    background-color: #e8d28d;
    color: black;

}

.hero-link-1:hover {
    background-color: orange;
    color: black;
}

.hero-link-2 {
    background-color: #f1f1f1;
    color: black;
}

.hero-link-2:hover {
    background-color: orange;
    color: black;
}

.hero-link img {
    margin-left: 2px;
    width: 24px;
}

.hero-link span, .hero-link img {
    pointer-events: none;
}

.main-title {
    font-family: Merriweather, serif;
    font-size: 100px;
    color: orange;
    font-weight: 900;

}

.push-down-hero {
    display: none;
}

@media (max-width: 1024px) {
    .main-title {
        font-size: 100px;
    }

    .hero {
        min-height: 610px;
        padding-top: 350px;
    }

    .hero-link {
        min-width: 110px;
        margin: 5px 0 20px;
        padding: 8px 6px;
        font-size: 16px;
    }

    .hero-link img {
        display: none;
    }

    .heading-h3 span {
        font-size: 8px
    }

    .push-down-hero {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #e8d28d;
        border: 1px solid #e8d28d;
        position: absolute;
        left: 46%;

    }

    .push-down-hero:hover {
        background-color: orange;
        border: 1px solid orange;
    }

    .push-down-hero img {
        pointer-events: none;
    }
}

@media (max-width: 900px) {
    .main-title {
        font-size: 65px;
    }

    .push-down-hero {

    }
}

@media (max-width: 590px) {
    .main-title {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .hero {
        min-height: 620px;
    }

    .main-title {
        font-size: 40px;
    }
}

/*section-title*/
.section-title {
    font-family: Merriweather, serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.section-title img {
    width: 35px;
    margin: 8px;
}

.section-subtitle {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.heading-h3 {
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: orange;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 6px;
}

.heading-h3 img {
    width: 30px;
    margin: 8px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width: 1024PX) {
    .section-title {
        font-size: 20px;
    }

    .section-title img {
        width: 20px;
        margin: 8px;
    }

    .section-subtitle {
        font-size: 18px;
        margin-bottom: 52px;
    }

    .heading-h3 span {
        font-size: 10px;
    }

    .heading-h3 img {
        width: 25px;
    }

    .container {
        max-width: 700px;
    }
}

@media (max-width: 750PX) {
    .section-title {
        font-size: 15px;
    }

    .section-title img {
        width: 15px;
        margin: 8px;
    }

    .section-subtitle {
        font-size: 12px;

    }

    .heading-h3 {
        font-size: 25px;
    }

}

@media (max-width: 525PX) {
    .section-title {
        font-size: 15px;
    }

    .section-subtitle {
        font-size: 12px;
    }

    .heading-h3 img {
        font-size: 20px;
    }

}

/*About*/

.about {
    padding: 50px 20px 125px;
    background-color: #f1f1f1;
}

.about-content {
    display: flex;
}

.about-text {
    width: 90%;
}

.about-text .heading-h3 {
    margin-bottom: 12px;
}

.about-text p {
    line-height: 1.4;
}

.about-text p:nth-child(2) {
    margin-bottom: 44px;
}

.about-slideshow {
    width: 100%;
}

.slideshow-images-container {
    margin: 12px 10px 30px;
    display: grid;
}

.about-slideshow img {
    grid-area: 1/1/2/2;
    width: 100%;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}

.about-slideshow img.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
